<div class="modal" id="plan-modal">
  <div class="modal-background" (click)="hideModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Change Plan</p>
      <button class="delete" aria-label="close" (click)="hideModal()"></button>
    </header>
    <section class="modal-card-body">

      <div class="columns">
        <div class="column">
          <h3 class="is-size-3 is-text-centered">Plan 1</h3>
        </div>
        <div class="column">
          <h3 class="is-size-3 is-text-centered">Plan 2</h3>
        </div>
        <div class="column">
          <h3 class="is-size-3 is-text-centered">Plan 3</h3>
        </div>
      </div>

    </section>
  </div>
</div>