<div id="settings-container">

  <div class="settings-section">
    <h1 class="settings-header">Your Organization</h1>
    <div id="settings-company-name">
      <input class="input" name="company" [value]="companyName" />
    </div>
  </div>

  <hr class="red" />

  <div class="settings-section">
    <h1 class="settings-header">Categories</h1>
    <ul>
      <li class="is-size-4" *ngFor="let c of categories">
        {{ c.name }}
        <span class="icon is-medium">
          <i (click)="removeCategory(c)" class="fas fa-times fa-fw"></i>
        </span>
      </li>
    </ul>
    <div *ngIf="categories.length < 10">
      <input id="settings-add-category" class="input" (keyup.enter)="addCategory()" [(ngModel)]="newCategory" /> 
      <button id="settings-add-category" class="button" (click)="addCategory()">
        <span class="icon is-medium">
          <i class="fas fa-plus"></i>
        </span>
      </button> 
    </div>
  </div>

  <hr class="red" />

</div>
