<div id="settings-container">

  <div class="settings-section">
    <h1 class="settings-header">Your Organization</h1>
    <div id="settings-company-name">
      <input class="input" id="settings-company-name" name="company" [(ngModel)]="companyName" />
      <button id="settings-update-company" class="button" (click)="updateAccountName()">
        <span class="icon is-medium">
          <i class="fas fa-check"></i>
        </span>
      </button> 
    </div>

    <h1 class="settings-header">Subscription</h1>
    <div id="settings-company-name">
      <input class="input" id="settings-plan" name="plan" [value]="plan.name ? plan.name : ''" />
      <button id="settings-change-plan" class="button" (click)="changePlan()">
        <span class="icon is-medium">
          <i class="fas fa-arrow-up"></i>
        </span>
      </button> 
    </div>
  </div>

  <hr class="red" />

  <div class="settings-section">
    <h1 class="settings-header">Users</h1>
    <table>
      <tr class="is-size-4" *ngFor="let u of users">
        <td>{{ u.first_name }} {{ u.last_name}}</td> 
        <td>
          <span class="icon is-medium">
            <i (click)="editUser(u)" class="fas fa-pencil-alt fa-fw red"></i>
          </span>
        </td> 
        <td>
          <span class="icon is-medium">
            <i (click)="removeUser(u)" class="fas fa-times fa-fw red"></i>
          </span>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td *ngIf="users.length < plan.user_limit">
          <button id="settings-add-user" class="button" (click)="addUser()">
            <span class="icon is-medium">
              <i class="fas fa-plus"></i>
            </span>
          </button> 
        </td>
      </tr>
    </table>
  </div>  

  <hr class="red" />

  <div class="settings-section">
    <h1 class="settings-header">Categories</h1>
      <table>
        <tr class="is-size-4" *ngFor="let c of categories">
          <td>{{ c.name }}</td> 
          <td>
            <span class="icon is-medium">
              <i (click)="removeCategory(c)" class="fas fa-times fa-fw red"></i>
            </span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td *ngIf="categories.length < 10">
            <button id="settings-add-category" class="button" (click)="addCategory()">
              <span class="icon is-medium">
                <i class="fas fa-plus"></i>
              </span>
            </button> 
          </td>
        </tr>
      </table>
  </div>

  <hr class="red" />


  <app-user-modal [account]='currentAccount' [user]='chosenUser'></app-user-modal>
  <app-plans-modal [account]='currentAccount' [plan]='plan'></app-plans-modal>
</div>
