<div id="login-container">
  <div class="content container">
    <div id="login-form">

      <form id="login" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="page-header">
          <h1>Login</h1>
          <p id="invalid" class="help is-danger is-hidden">Invalid credentials</p>
        </div>

        <div class="field">
          <label class="label">Email Address</label>
          <div class="control">
            <input class="input" type="text" name="email" formControlName="email" />
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" name="password" formControlName="password" />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button id="login-button" [disabled]="!form.valid" type="submit" class="button input-button">Login</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>