<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/', 'editor']">
      Newtz
    </a>

    <a role="button" id="hamburger" class="navbar-burger" (click)="toggleMobileMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-end">

      <div class="navbar-item">
        <div class="control has-icons-left has-icons-right">
          <input class="input is-large" id="nav-search" (keyup.enter)="submitSearch()" type="text" placeholder="Search...">
          <span class="icon is-medium is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>

      <!-- mobile menu -->
      <div class="navbar-item is-hidden-desktop">
        <a [routerLink]="['/', 'editor']" (click)="toggleMobileMenu()">New Note</a>
      </div>

      <div class="navbar-item is-hidden-desktop">
        <a [routerLink]="['/', 'profile']" (click)="toggleMobileMenu()">Profile</a>
      </div>

      <div class="navbar-item is-hidden-desktop">
        <a [routerLink]="['/', 'settings']" (click)="toggleMobileMenu()">Settings</a>
      </div>

      <div class="navbar-item is-hidden-desktop">
        <a (click)="signOut()" (click)="toggleMenu()" (click)="toggleMobileMenu()">Log Out</a>
      </div>

      &nbsp;
      &nbsp;

      <!-- desktop menu -->
      <div class="navbar-item is-hidden-touch">
        <a [routerLink]="['/', 'editor']">
          <span class="icon is-medium is-left red">
            <i class="fas fa-edit fa-fw fa-3x"></i>
          </span>
        </a>
      </div>

      &nbsp;
      &nbsp;

      <div id="navbar-icon" class="navbar-item has-dropdown is-hidden-touch">
        <a class="navbar-link is-arrowless">
          <span class="icon is-medium is-left" (click)="toggleMenu()">
            <i class="fas fa-cog fa-fw fa-3x"></i>
            &nbsp;
          </span>
          &nbsp;
        </a>


        <div id="settings-menu" class="navbar-dropdown is-right">
          <a class="navbar-item" (click)="toggleMenu()">
            Signed in: {{ tokenService.userSignedIn() }}
          </a>
          <a class="navbar-item" [routerLink]="['/', 'settings']" (click)="toggleMenu()">
            Settings
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" (click)="signOut()" (click)="toggleMenu()">
            Log Out
          </a>
        </div>
      </div>

      &nbsp;
      &nbsp;

    </div>
  </div>

</nav>