nav {
  background-color: #fff;
  color: #a9a9a9;
}

.navbar-brand {
  font-size: 36px;
}

a {
  color: #ff3b3f;
  font-weight: 700;
}

.navbar-item {
  color: #171717;
}

#navbar-icon .navbar-link:hover {
  color: #ff3b3f;
}