<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/', 'editor']">
      Newtz
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="control has-icons-left has-icons-right">
          <input class="input is-large" id="nav-search" (keyup.enter)="submitSearch()" type="text" placeholder="Search...">
          <span class="icon is-medium is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>

      &nbsp;
      &nbsp;

      <div class="navbar-item">
        <a [routerLink]="['/', 'editor']">
          <span class="icon is-medium is-left red">
            <i class="fas fa-edit fa-fw fa-3x"></i>
          </span>
        </a>
      </div>

      &nbsp;
      &nbsp;

      <div id="navbar-icon" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-arrowless">
          <span class="icon is-medium is-left">
            <i class="fas fa-cog fa-fw fa-3x"></i>
            &nbsp;
          </span>
          &nbsp;
        </a>


        <div class="navbar-dropdown is-right">
          <a class="navbar-item">
            Profile
          </a>
          <a class="navbar-item" [routerLink]="['/', 'settings']">
            Settings
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" (click)="signOut()">
            Log Out
          </a>
        </div>
      </div>

      &nbsp;
      &nbsp;

    </div>
  </div>

</nav>