<div id="settings-container">

  <div class="settings-section">
    <h1 class="settings-header">Categories</h1>
    <ul>
      <li class="is-size-4" *ngFor="let c of categories">
        {{ c.name }}
        <span class="icon is-medium">
          <i (click)="removeCategory(c)" class="fas fa-times fa-fw"></i>
        </span>
      </li>
    </ul>
    <div *ngIf="categories.length < 10">
      <input [(ngModel)]="newCategory" /> 
      <button (click)="addCategory()">
        <span class="icon is-medium">
          <i class="fas fa-plus fa-fw fa-3x"></i>
        </span>
      </button> 
    </div>
  </div>

  <hr class="red" />

</div>
